@media only screen and (min-width:375px) and (orientation: landscape){
    html,body {
        font-size:16px;
    }
    #friends, #and, #family {
        padding:.75rem;
    }
}

@media only screen and (min-width:500px){
    html,body {
        font-size:16px;
    }
    .index {
        background-position:top;
        background-image: url('../../assets/bar.jpg');

        .index-container {
            .name {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                position:static;
                margin-top:5vh;
                margin-right:10vh;
                h1 {
                    color:hsl(154,30,44); 
                    font-size:8vh;
                }
                #friends, #and, #family {
                    padding:.75rem;
                }
            }
            .tagline {
                position:static;
                padding-top:4vw;
            }
            .location {
                color:hsl(154,30,44);
            }
        }
    }
}
