@media only screen and (min-width:500px){
    .index {
        background-position:top;
        .index-container {
            .name {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                position:static;
                margin-top:5vh;
                margin-right:10vh;
                h1 {
                    font-size:8vh;
                }
                #friends, #and, #family {
                    padding:.75rem;
                }
            }
            .tagline {
                position:static;
                padding-top:4vw;
            }
        }
    }
}

// @media only screen and (min-width:1000px){
//     .index{
//         .index-container {
//             .name {
//                 h1 {
//                     font-size:4.5rem;
//                 }
//             }
//             .tagline {
//                 font-size:2rem;
//             }
//         }
//     }
// }