/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 90vh;
  overflow: scroll;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("../assets/bar-optimized.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../assets/bar-optimized.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 900px) {
  body {
    background-position: top;
  }
}

body img {
  width: 50%;
}

@media only screen and (min-width: 1400px) {
  body img {
    width: 20%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  body img {
    width: 25%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  body img {
    width: 35%;
  }
}

body h2 {
  font-size: 2em;
  margin-bottom: .7em;
  font-family: "Roboto", sans-serif;
  color: white;
}

body a {
  text-decoration: none;
}

body h3 {
  font-size: 1.5em;
  margin: .7em;
  font-family: "Roboto", sans-serif;
  color: white;
}

body .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
}

@media only screen and (min-width: 1400px) {
  body .icons {
    width: 25%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  body .icons {
    width: 25%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  body .icons {
    width: 35%;
  }
}

body .icons a {
  font-size: 3.5vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

body .icons a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

svg {
  overflow: visible;
  width: 100%;
}

svg text {
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
}

@media only screen and (min-width: 1400px) {
  svg text {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  svg text {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  svg text {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */