@import './partials/reset';

body {
    width:100vw;
    height:100vh;
}

.index {
    width:100%;
    height:100%;
    background-image: url('../../assets/coming-soon.jpg');
    // background-image: url('../../assets/bar.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: center;
    .index-container {
        width:90%;
        height:95%;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        align-items:center;
        h1 {
            // color:rgb(105,45,75);
            color:rgb(226,60,1); //red
            // color:rgb(78,148,118); // dark green
            // color:rgb(218,140,0); // orange
            // color:lightcyan; // cyan
            font-family: 'Montserrat', sans-serif;
            font-weight:600;
        }
        .title {
            text-align:center;
            padding-top:1em;
            .main {
                text-transform: uppercase;
                // two lines top and center
                font-size:4em; 

                // one line top 
                // font-size:2em;
                // padding-top:5em;

            }
            .tagline {
                font-weight:300;
                padding-top:.5em;

                //two lines top and center 
                font-size:1.8em; 

                // one line top
                // font-size:1.5em;
            }
        }
        .location {
            font-size:1.5em;
            text-align:center;
        }
    }
}



@import './partials/mediaQueries';