/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.index {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../assets/bar.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/bar.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.index .index-container {
  width: 95%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .index-container .name {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  text-align: right;
  position: absolute;
  bottom: 42%;
  left: 0%;
}

.index .index-container .name h1 {
  font-family: "Bungee Shade", cursive;
  color: white;
  font-size: 7vh;
}

.index .index-container .name #friends {
  padding-left: 7rem;
}

.index .index-container .name #and {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 3rem;
  text-align: left;
}

.index .index-container .name #family {
  padding-right: 3.5rem;
}

.index .index-container .tagline {
  font-family: "Roboto", sans-serif;
  font-size: 3.5vh;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 25%;
}

.index .index-container .location {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Bungee Shade", cursive;
  text-align: center;
  font-size: 3vh;
  position: absolute;
  bottom: 1.25%;
  color: white;
}

.index .index-container .location a {
  color: white;
}

.index .index-container .location a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media only screen and (min-width: 375px) and (orientation: landscape) {
  html, body {
    font-size: 16px;
  }
  #friends, #and, #family {
    padding: .75rem;
  }
}

@media only screen and (min-width: 500px) {
  html, body {
    font-size: 16px;
  }
  .index {
    background-position: top;
    background-image: url("../../assets/bar.jpg");
  }
  .index .index-container .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    margin-top: 5vh;
    margin-right: 10vh;
  }
  .index .index-container .name h1 {
    color: #4f9275;
    font-size: 8vh;
  }
  .index .index-container .name #friends, .index .index-container .name #and, .index .index-container .name #family {
    padding: .75rem;
  }
  .index .index-container .tagline {
    position: static;
    padding-top: 4vw;
  }
  .index .index-container .location {
    color: #4f9275;
  }
  .index .index-container .location a {
    color: #4f9275;
  }
  .index .index-container .location a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/*# sourceMappingURL=style.css.map */