@import './partials/reset';
@import './partials/variables';


html,body {
    font-size:16px;
    height:100%;
    width:100%;
}

body {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../../assets/bar.jpg');
    background-position:left;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    .index-container {
        width:95%;
        height:95%;
        display:flex;
        flex-direction:column;
        align-items:center;
        .name {
            transform:rotate(-18deg);
            text-align:right;
            position:absolute;
            bottom:42%; 
            left:0%;
            h1 {
                font-family: $primary-font;
                color:white;
                font-size:7vh;
            }
            #friends{
                padding-left:7rem;
            }
            #and {
                padding-top:10vh;
                padding-bottom:10vh;
                padding-left:3rem;
                text-align:left;
            }
            #family {
                padding-right:3.5rem;
            }
        }
        .soon {
            font-family: $secondary-font;
            font-size:3.5vh;
            color:white;
            width:100%;
            position:absolute;
            bottom:25%;
            animation-name:squiggle;
            animation-duration:4s;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
        }
        .location {
            font-family: $primary-font;
            text-align:center;
            font-size:3vh;
            position:absolute;
            bottom:4%;
            color:white;
        }
        .contact {
            font-size:2.5vh;
            text-align:center;
            font-size:2vh;
            font-family: $secondary-font;
            color:white;
            text-decoration: none;
            position:absolute;
            bottom:1%;
            &:hover {
                transform:scale(1.2);
            }
        }
        .social {  
            font-size:3vh;
            color:white;
            position:absolute;
            top:2%;
            right:2%;
            &:hover {
                transform:scale(1.5);
            }
        }
    }
}

@keyframes squiggle {
    0% {left:0};
    100% {left:100%};
}


@import './partials/mediaQueries';