/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../assets/bar.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/bar.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body .index-container {
  width: 95%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .index-container .name {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  text-align: right;
  position: absolute;
  bottom: 42%;
  left: 0%;
}

body .index-container .name h1 {
  font-family: "Bungee Shade", cursive;
  color: white;
  font-size: 7vh;
}

body .index-container .name #friends {
  padding-left: 7rem;
}

body .index-container .name #and {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 3rem;
  text-align: left;
}

body .index-container .name #family {
  padding-right: 3.5rem;
}

body .index-container .soon {
  font-family: "Roboto", sans-serif;
  font-size: 3.5vh;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 25%;
  -webkit-animation: xAxis 3.5s infinite ease-in;
          animation: xAxis 3.5s infinite ease-in;
}

body .index-container .soon:after {
  display: block;
  content: 'coming soon';
  -webkit-animation: yAxis 3.5s infinite ease-out;
          animation: yAxis 3.5s infinite ease-out;
}

body .index-container .location {
  font-family: "Bungee Shade", cursive;
  text-align: center;
  font-size: 3vh;
  position: absolute;
  bottom: 4%;
  color: white;
}

body .index-container .contact {
  font-size: 2.5vh;
  text-align: center;
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 1%;
}

body .index-container .contact:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .index-container .social {
  font-size: 3vh;
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
}

body .index-container .social:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes yAxis {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  25% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes yAxis {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  25% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@-webkit-keyframes xAxis {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  40% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  60% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  80% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes xAxis {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  40% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  60% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  80% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media only screen and (min-width: 375px) and (orientation: landscape) {
  html, body {
    font-size: 16px;
  }
  #friends, #and, #family {
    padding: .75rem;
  }
}

@media only screen and (min-width: 500px) {
  html, body {
    font-size: 16px;
  }
  body {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/bar.jpg");
  }
  body .index-container .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    margin-top: 5vh;
    margin-right: 10vh;
  }
  body .index-container .name h1 {
    color: #4f9275;
    font-size: 8.5vh;
  }
  body .index-container .name #friends, body .index-container .name #and, body .index-container .name #family {
    padding: .75rem;
  }
  body .index-container .soon {
    bottom: 40%;
    padding-top: 4vw;
    font-size: 4.5vh;
  }
  body .index-container .location {
    font-size: 4vh;
    color: #4f9275;
    bottom: 4.5%;
  }
  body .index-container .social {
    top: 95%;
    font-size: 4vh;
  }
  body .index-container .contact {
    font-size: 3vh;
    left: 2%;
  }
  body .index-container .contact:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
/*# sourceMappingURL=style.css.map */